<div class="row tile_count">
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i>本月物业费</span>
      <div class="count red">35,000</div>
      <span class="count_bottom">比较上月<i class="red"><i class="fa fa-sort-asc"></i>4% </i> </span>
    </div>
  </div>
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i>本月水费</span>
      <div class="count green">2,500</div>
      <span class="count_bottom">比较上月<i class="green"><i class="fa fa-sort-desc"></i>34% </i> </span>
    </div>
  </div>
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i>本月物业采购费</span>
      <div class="count green">2,315</div>
      <span class="count_bottom">比较上月<i class="green"><i class="fa fa-sort-desc"></i>34% </i> </span>
    </div>
  </div>
  <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
      <div class="count red">7,325</div>
      <span class="count_bottom">比较上月<i class="red"><i class="fa fa-sort-asc"></i>34% </i> </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>物业采购费用</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("some_id", @chart) %>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>物业采购费用</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= high_chart("some_1id", @chart_pie) %>
      </div>
    </div>
  </div>
</div>


